
{% extends 'base.html'%}
    {%block content%}
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center">
            <form>
                <div class="mb-2">
                    <h1>Calculadora promedio semestre 1 </h1>
                    <div class="col s11">
                        <label for="numero_semestres" class="form-label">Nota materia 1</label>
                        <input type="number" class="input-field col s6" id="notam1" min="0" max="5" step="0.01" required>
                        <label for="numero_semestres" class="form-label">Creditos</label>
                        <input type="number" class="input-field col s6" id="credm1" min="1" max="100" required>

                    </div>
                    <div class="mb-2">
                        <label for="numero_semestres" class="form-label">Nota materia 2</label>
                        <input type="number" class="input-field col s6" id="notam2" min="0" max="5" step="0.01" required>
                        <label for="numero_semestres" class="form-label">Creditos</label>
                        <input type="number" class="input-field col s4" id="credm2" min="1" max="100" required>
                    </div>
                    
                    <button type="submit" class="btn btn-info" onclick="calcularPromSemestre()">Calcular</button>
                    <h1 id="respuesta"></h1>
                    <script>
                        function calcularPromSemestre(){
                            var campo1 = document.getElementById("notam1").value;
                            var campo2 = document.getElementById("notam2").value;
                            var creditos1 = document.getElementById("credm1").value;
                            var creditos2 = document.getElementById("credm2").value;
                            var creditostotal = creditos1+creditos2;
                            var resultado = ((parseFloat(campo1)*creditos1)+(parseFloat(campo2)*creditos2))/creditostotal;
                            
                            document.getElementById("respuesta").innerHTML = "Tu promedio del semestre es " + resultado;
                            event.preventDefault();
                            }
                    </script>
                   
                    <button class="btn btn-info" onclick="añadirCampo()"> Añadir campo</button>
                    
                </div>


            </form>
            {% if user.is_authenticated %}
                    <div>
                        <br> <a href="{% url 'crearsemestre' user.id %}"class="btn btn-primary">Agregar Semestre</a></div>
                        {% endif %}
                    
        </div>
    </section>

    <script type="text/javascript" src="static/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{%endblock content%}

